*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:gilroy;

}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    
}
#nav{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:40px 60px;
}

#nav-part1{
    display:flex;
    justify-content:space-between;
    width:40%;
}
#nav-part2{
    display:flex;
    justify-content:space-between;
    width:45%;
}
#nav h3{
    font-size: 25px;
    font-weight:600;

}
#nav h2{
    font-size:25px;
    font-weight:600;
    
}
#nav h4{
    font-size:25px;
    font-weight:600;
    
}
#content{
    margin-top:60px;
    padding:40px 65px;  
}
#content h3{
    font-size:40px;
    font-weight:600; 
}
#content h1{
    margin-top:40px;
    font-size: 180px;
    font-weight:500;
    line-height:170px;
    letter-spacing: -3px;
}
#case{
    padding:40px 65px;
    margin-top:150px;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
#case h4{
    font-size:30px;
    font-weight:500;
}
#case h5{
    font-size:30px;
    font-weight:600;
}
#right{
    display:flex;
    align-items:center;
    gap: 40px;
}
#line{
    height:2px;
    width:160px;
    background-color: #000;
}
